.category_article,
.subcategory_article,
.season_article {
  position: relative;
  border: 1px solid #ddd;
  padding: 1rem;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
