* {
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.product_article:hover img {
  transform: scale(1.1);
}

.product_container {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}
.product_article {
  position: relative;
  border: 1px solid #ddd;
  padding: 1rem;
  overflow: hidden;
}
.product_image_container {
  overflow: hidden;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.discounted {
  color: gray;
  text-decoration: line-through;
}

.discounted_price {
  color: #f42434;
}

.sold_out {
  position: absolute;
  top: 50%;
  /* background-color: #f42435ef; */
  color: white;
  left: 0px;
  padding: 1rem 0;
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  width: -moz-available;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(33, 33, 33, 0.69) 40%,
    rgba(33, 33, 33, 0.69) 60%,
    rgba(255, 255, 255, 0) 98%
  );
  z-index: 1;
}


.brand_name{
  font-weight: 600;
  font-size: medium;
  margin: 1.5rem 0 0.3rem 0;
}

.product_name{
  margin: 0.3rem 0 1rem 0;
}